
h2{
    font-family: "Work Sans", sans-serif;
}

#bars{
    animation-name: slideleft;
    animation-duration: 0.5s;
    background-color: bisque;
    display: none;
    margin-right: 40px;
    border-width: 5px;
    padding: 10px;
    border-style: solid;
    float: right;
    border-radius: 16px;
    border-color: rgb(253, 143, 238);
    box-shadow: 0px 0px 5px blue;
}
@keyframes slideleft{
    from{transform: translateX(-100%);}
}
#bars button{
    border: none;
    box-shadow: 0px 0px 5px rgb(253, 143, 238);
    height: 40px;
    border-radius: 16px;
}

#ca{
    border-width: 5px;
    box-shadow: 0px 0px 5px rgb(253, 143, 238);
    padding: 15px;
    justify-self: center;
    border-style: solid;
    border-radius: 25px;
    width: 800px;
    height: 100%;
    border-color: rgb(253, 143, 238);
    background-color: bisque;
    text-align: center;
    justify-content: center;
}
#ca button{
    background-color: white;
    font-size: 30px;
    border-style: solid;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    color: black;
    text-shadow: 0px 0px 5px blue;
    box-shadow: 0px 0px 5px white;
}
#bar{
margin-top: 0%;
float: right;
}
#right{
margin-bottom: 0%;
float: right;
}
#left{
margin-bottom: 0%;
float: left;
}
#ca img{
    border-color: white;
    box-shadow: 0px 0px 10px white;
    border-width: 10px;
    margin-left: 60px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 100%;
} 
#ca audio{
    width: 700px;
}







#cb{
    border-width: 5px;
    box-shadow: 0px 0px 5px rgb(253, 143, 238);
    position: fixed;
    padding: 15px;
    justify-self: center;
    border-style: solid;
    border-radius: 25px;
    width: 800px;
    height: 100%;
    border-color: rgb(253, 143, 238);
    background-color: bisque;
    text-align: center;
    justify-content: center;
}
#cb button{
    background-color: white;
    font-size: 30px;
    border-style: solid;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    color:  black;
    text-shadow: 0px 0px 5px blue;
    box-shadow: 0px 0px 5px white;
}
#cb img{
    border-color: white;
    box-shadow: 0px 0px 10px white;
    border-width: 10px;
    margin-left: 60px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 100%;
} 
#barb{
    margin-top: 0%;
    float: right;
    }
#cb audio{
    width: 700px;
}
#rightb{
    margin-bottom: 0%;
    float: right;
    }
    #leftb{
    margin-bottom: 0%;
    float: left;
}







#cc{
    border-width: 5px;
    box-shadow: 0px 0px 5px rgb(253, 143, 238);
    position: fixed;
    padding: 15px;
    justify-self: center;
    border-style: solid;
    border-radius: 25px;
    width: 800px;
    height: 100%;
    border-color: rgb(253, 143, 238);
    background-color: bisque;
    text-align: center;
    justify-content: center;
}
#cc button{
    background-color: white;
    font-size: 30px;
    border-style: solid;
    height: 50px;
    border-radius: 100%;
    border-color: white;
    color:  black;
    text-shadow: 0px 0px 5px blue;
    box-shadow: 0px 0px 5px white;
}
#cc img{
    border-color: white;
    box-shadow: 0px 0px 10px white;
    border-width: 10px;
    margin-left: 60px;
    text-align: center;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 100%;
}
#barc{
    margin-top: 0%;
    float: right;
    } 
#cc audio{
    width: 700px;
}
#rightc{
    margin-bottom: 0%;
    float: right;
    }
    #leftc{
    margin-bottom: 0%;
    float: left;
}